.Paymentfail-main{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.fail-cont{
    border: 2px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: #ffffff14;
}

.fail-cont h1 {
    color: rgb(255, 43, 43);
}
.fail-cont a{
    color: lime;
}